.header{
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:25px 8%;
    position:relative;
    z-index: 999;
}
:root{
    --main-color:#ff3131;
    --text-color:#fff;
    --text-color-2:#ffffffe1;
}
.logo{
    font-size: 25px;
}
.logo h2{
    color:var(--text-color);
    font-weight: 500;
}
.logo span{
    color:var(--main-color);
}
.nav{
    display: flex;
    align-items: center;
    gap:20px;
}
.nav a{
    color:var(--text-color);
    font-size:18px;
    text-decoration: none;
    padding:5px 12px;
    background-color:rgba(255, 49, 49, 0.08);
    border-radius: 5px;
    transition:.6s;
    border:0.2px solid rgba(255, 49, 49, 0.2);
}
.nav a:hover{
    box-shadow: 0 5px 16px var(--main-color);
    background-color: rgba(255, 49, 49, 1);
    color:#fff;
    transform: translateY(-5px);
}
.bars{
    display: flex;
    flex-direction: column;
    gap:5px;
    width:50px;
    background-color:rgba(255, 49, 49, 0.08);
    border-radius: 5px;
    transition:.6s;
    padding:12px;
    border:0.2px solid rgba(255, 49, 49, 0.2);
    cursor:pointer;
    display: none;
}
.bars:hover{
    box-shadow: 0 5px 16px var(--main-color);
    background-color: rgba(255, 49, 49, 1);
    color:#fff;
    transform: translateY(-5px);
}
.bars span{
    width:100%;
    height:2px;
    border-radius: 5px;
    background-color: var(--text-color);
}
@media (max-width:950px) {
    .header{
        position:relative;
    }
    .bars{
        display:flex;
    }
    .nav{
        position:absolute;
        top:100%;
        left:0;
        width: 100%;
        height: 360px;
        padding:20px;
        flex-direction: column;
        background-color: #000;
        overflow:hidden;
        transition:.6s;
        box-shadow: 0 5px 16px rgba(255, 49, 49, 1);
        align-items: start;
        gap:20px;
    }
}
@media (max-width:550px){
    .logo h2{
        font-size: 20px;
    }
}