.header{
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:25px 8%;
    position:relative;
    z-index: 999;
}
:root{
    --main-color:#ff3131;
    --text-color:#fff;
    --text-color-2:#ffffffe1;
}
.navbar-brand{
    font-size: 25px;
}
.navbar-brand{
    color:var(--text-color);
    font-weight: 500;
}
.navbar-brand span{
    color:var(--main-color);
}
.navbar{
    padding-block: 15px;
    background-color:transparent;
}
.navbar-nav .nav-item{
    display: flex;
    align-items: center;
}
.nav-item a{
    color:var(--text-color);
    font-size:18px;
    text-decoration: none;
    padding:5px 12px;
    background-color:rgba(255, 49, 49, 0.08);
    border-radius: 5px;
    transition:.6s;
    border:0.2px solid rgba(255, 49, 49, 0.2);
    margin:10px;
}
.nav-item a:hover{
    box-shadow: 0 5px 16px var(--main-color);
    background-color: rgba(255, 49, 49, 1);
    color:#fff;
    transform: translateY(-5px);
}


@media (max-width:950px) {
    .header{
        position:relative;
    }
    .navbar-toggler{
        display:flex;
    }
    .nav{
        position:absolute;
        top:100%;
        left:0;
        width: 100%;
        height: 360px;
        padding:20px;
        flex-direction: column;
        background-color: #000;
        overflow:hidden;
        transition:.6s;
        box-shadow: 0 5px 16px rgba(255, 49, 49, 1);
        align-items: start;
        gap:20px;
    }
}
@media (max-width:550px){
    .logo h2{
        font-size: 20px;
    }
}
