.skills{
    width: 1500px;
    padding: 80px 8%;
    color:#fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills h2{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 10px;
}
.skill-cards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 20px;
 }
.skills .tech-icons{
    gap:50px;
    margin-top: 50px;
    border:2px solid var(--main-color);
    height:150px;
    width:150px;
    font-size: 80px;
    color:#fff;
    margin:20px;
    padding:30px;
    transition: .6s;
}
.skills .tech-icons:hover{
    border-color: var(--main-color);
    box-shadow: 0 12px 16px var(--main-color);
    transform: translateY(-8px);
    color:var(--main-color);
    transform: scale(1.2);
}

@media (max-width:1300px){
    .skill-cards{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:768px){
    .skill-cards{
        width: 100%;
    }

    .skill-cards div{
        top:150%;
    }
}

@media (max-width:500px){

    .project-card div{
        gap:5px;
    }
}